<h3>Welcome to BuilderMine!</h3>
<form action="/submit" method="POST">
	<!--<input type="text" name="model[name]" value="Enter Model Name" />-->
	<input type="text" name="task[description]" value="Enter the task's description" />
	<input type="submit" value="Submit" />
</form>
